:root {
  --bg-dark: rgb(44, 44, 44);
  --bg-black: rgba(0, 0, 0, 0.8);
  --bg-light-grey: #dfdede;
  --text-white: white;
  --highlight-color: #776cd8;
  --gradient-light-gray: rgb(82, 81, 81);
  --gradient-white: white;
  --gradient-black: black;
  --animation-color1: #00EFF6;
  --animation-color2: #FF507D;
  --dark-blue: #121831;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  background-color: var(--dark-blue);
  color: var(--text-white);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: white;
}

/*Header*/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: var(--bg-black);
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.finnish-flag, .english-flag {
  background-size: cover;
  border: 1px solid black;
  height: 40px;
  width: auto;
  opacity: 1;
  z-index: 11;
}

.finnish-flag {
  width: 60px;
  margin-right: 10px;
}


nav a{
  font-size: 1.8rem;
  color: var(--text-white);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: var(--highlight-color);
  border-bottom: 3px solid var(--highlight-color);
}

/*Hero Section*/

.profile-img {
  margin-right: 75px;
  width: 300px;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  z-index: 1;
  border: 2px black solid;
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: perspective(1000px) rotateY(10deg) rotateX(10deg);
}


.UniOulu {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  border: 2px black solid;
  z-index: 1;
  transition: transform 0.3s ease;
}

.UniOulu:hover {
  transform: scale(1.05);
}

.hero {
  position: relative;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  background: 
    linear-gradient(
      to bottom,
      transparent 25%,
      var(--dark-blue) 70%
    ),
    url('./img/hexagon-bg.jpg');
  background-size: cover;
  background-position: center;
}

.intro {
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 20px;
  margin: 0 auto;
}

.intro-content {
  margin-right: 8em;
  margin-top: -30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 0, 221, 0.7);
}

.intro h1 {
  font-size: 50px;
  position: relative;
  bottom: 30px;
  font-family:'Courier New', Courier, monospace;
  animation: colorChange 3s infinite;
  background-color: var(--gradient-black);
  padding: 0 15px;
  border-radius: 40px;
  opacity: 90%;
}

.intro p {
  font-size: 20px;
  background-color: var(--gradient-black);
  width: 350%; 
  height: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  opacity: 80%;
  /*border: 2px black solid;*/
}

/*For screens between 800 and 1600 pixels wide*/
@media (min-width: 800px) and (max-width: 1600px) {
  .profile-img {
    margin-left: -10vw;
  }
  
  .UniOulu {
    margin-right: -10vw;
  }

  .intro p {
    width: 200%;
  }
}


/*For screens less than 800 pixels wide*/
@media (max-width: 800px) {
  body {
    font-size: 1.4rem;
  }
  
  .header {
    padding: 1rem;
  }

  .nav a {
    font-size: 1.6rem;
    margin-left: 2rem;
  }

  .hero {
    height: auto;
    display: block;
    text-align: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
  }

  .profile-img {
    margin-right: 0;
    width: 200px;
  }

  .intro-content {
    margin: 0;
    width: 100%;
    padding: 10px;
  }

  .intro h1 {
    font-size: 2.5rem;
    margin-bottom: -20px;
    margin-top: 25px;
  }

  .intro p {
    font-size: 1.5rem;
    background-color: #b74b4b;
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 40%;
    opacity: 90%;
  }
  
  .UniOulu {
    margin: 20px auto;
    width: 100px;
    height: auto;
    margin-bottom: -20px;
  }

  .skills-content {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/*Skills Section*/

.skills-title {
  font-size: 4rem;
  text-align: center;
  margin: 50px auto;
  font-weight: 700;
  border-bottom: 3px solid var(--highlight-color);
  display: block;
  width: fit-content;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.distinct-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.distinct-skill h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
  
}

.distinct-skill img {
  padding-top: 10px; 
  width: 100px;
  height: auto;
}

.skills{
  background-color: transparent;
  padding-bottom: 50px;
  font-size: 20px;
}

/*About Section*/

.about {
  padding: 50px 0 200px 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about span {
  font-size: 100%;
  font-weight: 700;
  color: var(--highlight-color);
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: 700;
  border-bottom: 3px solid var(--highlight-color);
  display: inline-block;
}

.about p {
  padding: 20px 50px;
  text-align: left;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  max-width: 55%;
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom, 
      rgb(157, 148, 180), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

/*Projects Section*/

.projects {
  padding: 50px 0;
  font-size: 20px;
  text-align: center;
}

.projects h2 {
  margin-bottom: 50px;
  border-bottom: 3px solid var(--highlight-color);
  display: inline-block;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0 50px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.3s ease-out;

}

.project-item.show {
  opacity: 1;
  transform: translateY(0);
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.project-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

figcaption {
  background-color: var(--dark-blue);
  color: var(--bg-light-grey);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
/*Color transition*/

.upper-part {
  transition: background-color 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.3s;
}

.upper-part.show {
  background-color: var(--bg-light-grey);
}
.upper-part.show .gradient {
  background: transparent;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

.upper-part.show  h2 {
  color: black;
  border-bottom: 3px solid var(--dark-blue);
}

.upper-part.show  p {
  color: black;
}

.upper-part.show span {
  color: var(--dark-blue);
}

/*Footer*/

.footer {
  background-color: var(--dark-blue);
  color: var(--text-white);
  padding: 7em 0;
  text-align: center;
  min-height: 200px;
  padding-bottom: 50px;
}

.footer h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
  border-bottom: 3px solid var(--highlight-color);
  display: inline-block;
}
.footer h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icon {
  font-size: 4rem;
  margin: 0 10px;
  color: var(--text-white);
  transition: 0.3s ease;
  height: 40px;
}
.social-icon:hover {
  color: var(--highlight-color);
  scale: 1.2;
}