*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 75vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: black;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  opacity: 80%
}

nav a{
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

.logo{
  font-size: 32px;
  color: #b74b4b;
  font-weight: 800;
  transition: 0.5s ease;
}

.logo:hover{
  transform: scale(1.1);
}

.profile-img {
  margin: 50px 75px 0 -50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
}

.UniOulu {
  max-width: 100%;
  margin: 75px 0 0 50px;
  width: auto;
  height: 250px;
  object-fit: cover;
  z-index: 1;
}

.hero {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./img/hero_background3.jpg');
  background-size: cover;
  background-position: center;
}

.intro {
  position: relative;
  width: 70%;
  height: 70%;
  display: flex;
  padding: 50px;
  font-size: 20px;
  margin: 65px auto;
}
.intro-content {
  margin-right: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(21, 21, 58);
  text-align: center;
}
.intro h1 {
  font-size: 50px;
  position: relative;
  bottom: 30px;
}

.intro p {
  font-size: 20px;
  background-color: #b74b4b;
  width: 350%; 
  height: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 40%;
  opacity: 90%;
}

@media (max-width: 800px) {
  .hero {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .profile-img {
    grid-area: img;
    min-width: 200px;
    height: auto;
    position: flex;
    z-index: 2;
  }

  .UniOulu {
    grid-area: img;
    min-width: 150px;
    height: auto;
    position: flex;
    z-index: 2;
  }

  .intro p {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }


}



.skills {
  background-color: rgb(228, 215, 215);
  padding: 50px;
  font-size: 20px;
  margin: 65px auto;
}

.about {
  background-color: rgb(117, 113, 113);
  padding: 50px;
  font-size: 20px;
  margin: 65px auto;
}