*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: black;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  opacity: 80%
}

nav a{
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

.logo{
  font-size: 32px;
  color: #b74b4b;
  font-weight: 800;
  transition: 0.5s ease;
}

.logo:hover{
  transform: scale(1.1);
}

.profile-img {
  margin-right: 75px;
  width: 300px;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  z-index: 1;
  border: 2px black solid;
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: perspective(1000px) rotateY(10deg) rotateX(10deg);
}


.UniOulu {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  border: 2px black solid;
  z-index: 1;
  transition: transform 0.3s ease;
}

.UniOulu:hover {
  transform: scale(1.05);
}

.hero {
  position: relative;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  background-image: url('./img/hero_background3.jpg');
  background-size: cover;
  background-position: center;
  background: linear-gradient(to bottom, white 25%, rgb(82, 81, 81) 35%, black 50%, rgb(44, 44, 44) 90%);
}

.intro {
  position: relative;
  width: 70%;
  height: 70%;
  display: flex;
  padding: 50px;
  font-size: 20px;
  margin: 65px auto;
}

.intro-content {
  margin-right: 50px;
  margin-top: -30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes colorChange {
  0% { color: #00EFF6; }
  50% { color: #FF507D; }
  100% { color: #00EFF6; }
}

.intro h1 {
  font-size: 50px;
  position: relative;
  bottom: 30px;
  font-family:'Courier New', Courier, monospace;
  animation: colorChange 3s infinite;
  background-color: black;
  padding: 0 15px;
  border-radius: 40px;
  opacity: 90%;
}

.intro p {
  font-size: 20px;
  background-color: black;
  width: 350%; 
  height: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  opacity: 80%;
  /*border: 2px black solid;*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*For screens between 800 and 1600 pixels wide*/
@media (min-width: 800px) and (max-width: 1600px) {
  .profile-img {
    margin-left: -10vw;
  }
  
  .UniOulu {
    margin-right: -10vw;
  }

  .intro p {
    width: 200%;
  }
}


/*For screens less than 800 pixels wide*/
@media (max-width: 800px) {
  body {
    font-size: 1.4rem;
  }
  
  .header {
    padding: 1rem;
  }

  .nav a {
    font-size: 1.6rem;
    margin-left: 2rem;
  }

  .hero {
    height: auto;
    display: block;
    text-align: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
  }

  .profile-img {
    margin-right: 0;
    width: 200px;
  }

  .intro-content {
    margin: 0;
    width: 100%;
    padding: 10px;
  }

  .intro h1 {
    font-size: 2.5rem;
    margin-bottom: -20px;
    margin-top: 25px;
  }

  .intro p {
    font-size: 1.5rem;
    background-color: #b74b4b;
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 40%;
    opacity: 90%;
  }
  
  .UniOulu {
    margin: 20px auto;
    width: 100px;
    height: auto;
    margin-bottom: -20px;
  }

  .skills-content {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.skills-title {
  font-size: 4rem;
  text-align: center;
  margin: 50px 0;
  font-weight: 700;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.distinct-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.distinct-skill h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.distinct-skill img {
  padding-top: 10px; 
  width: 100px;
  height: auto;
}

.skills{
  /*border-top: 3px black solid;*/
  background-color: transparent;
  padding-bottom: 50px;
  font-size: 20px;
}

.about {
  background-color: rgb(44, 44, 44);
  padding: 50px 0 200px 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: 700;
  border-bottom: 3px solid #b74b4b;
  max-width: 300px;
  

}

.about p {
  padding: 0 50px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  max-width: 55%;
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.projects {
  background-color: rgb(44, 44, 44);
  padding: 50px 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}